.bg{
background-color: #2E2E2E;
}

.footer {
    clear: both;
    border: 1px groove #aaaaaa;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: absolute;
    bottom: 50%;
    left: -50%;
    width: 100%;
}

.reveal pre {
	display: block;
	position: relative;
	width: 100%;
	margin: 15px auto;

	text-align: left;
	font-size: .80em;
	font-family: monospace;
	line-height: 1.2em;

	word-wrap: break-word;

	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}